﻿@model IEnumerable<testNavisaf.Models.tblEmpleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Empleado", "Crear")
</p>
<table id="empleados" class="table">
    <thead>
        <tr>
            <th width="20%">
                Documento
            </th>
            <th width="40%">
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.NumHijos)
            </th>
            <th width="20%"></th>
        </tr>
        <tr>
            <th>
                @Html.TextBox("txtBuscarXDocumento", null, new { @class = "form-control" })
            </th>
            <th>
                @Html.TextBox("txtBuscarXNombres", null, new { @class = "form-control" })
            </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocIdentidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumHijos)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Detalle", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                    </td>
                </tr>
            }
    </tbody>
    </table>

<script>

    let BuscarXDocumento = $('#txtBuscarXDocumento');
    BuscarXDocumento.on('input', function (e) {
        let buscar = e.target.value;
        $.ajax({
            url: '@Url.Action("BuscarXDocumento", "Empleado")',
            type: 'POST',
            data: JSON.stringify({ Documento: buscar }),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (rsl) {
                let tbody = $('#empleados tbody');
                tbody.html('');
                $.each(rsl, function (i, item) {
                    let tr = $('<tr />');
                    tr.append($('<td />').html(item.DocIdentidad));
                    tr.append($('<td />').html(item.Nombres + " " + item.Apellidos));
                    tr.append($('<td />').html(item.Edad));
                    tr.append($('<td />').html(item.NumHijos));
                    let a = $('<td />');
                    a.append($('<a />', { href: '/Empleado/Editar/' + item.Id }).html('Editar | '));
                    a.append($('<a />', { href: '/Empleado/Detalle/' + item.Id }).html('Detalles | '));
                    a.append($('<a />', { href: '/Empleado/Eliminar/' + item.Id }).html('Eliminar |'));
                    a.append($('<a />', { href: '/Empleado/Mapa/' + item.Id }).html('Mapa |'));
                    a.append($('<a />', { href: '/Empleado/Hijos/' + item.Id }).html('Hijos'));
                    tbody.append(tr).append(a);
                });
            }
        });
    });

    let BuscarXNombres = $('#txtBuscarXNombres');
    BuscarXNombres.on('input', function (e) {
        let buscar = e.target.value;
        $.ajax({
            url: '@Url.Action("BuscarXNombres", "Empleado")',
            type: 'POST',
            data: JSON.stringify({ Nombres: buscar }),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (rsl) {
                console.log(rsl)
                let tbody = $('#empleados tbody');
                tbody.html('');
                $.each(rsl, function (i, item) {
                    let tr = $('<tr />');
                    tr.append($('<td />').html(item.DocIdentidad));
                    tr.append($('<td />').html(item.Nombres + " " + item.Apellidos));
                    tr.append($('<td />').html(item.Edad));
                    tr.append($('<td />').html(item.NumHijos));
                    let a = $('<td />');
                    a.append($('<a />', { href: '/Empleado/Editar/' + item.Id }).html('Editar | '));
                    a.append($('<a />', { href: '/Empleado/Detalle/' + item.Id }).html('Detalles | '));
                    a.append($('<a />', { href: '/Empleado/Eliminar/' + item.Id }).html('Eliminar |'));
                    a.append($('<a />', { href: '/Empleado/Mapa/' + item.Id }).html('Mapa |'));
                    a.append($('<a />', { href: '/HijosEmpleado/Hijos/' + item.Id }).html('Hijos'));
                    tr.append(a);
                    tbody.append(tr);
                });
            }
        });
    });

</script>